.link {
    color: var(--primary-text-color);
    text-decoration: none;
    font-size: 0.75rem;
    &:hover
    {
      color: var(--primary-highlight-color);
      text-decoration: underline;
    }

    &__xs {
      font-size: 0.5rem;
      color: var(--primary-text-color);
      &:hover
      {
        color: var(--primary-highlight-color);
      }
    }

    @include desktop {
      font-size: 1rem;
      &__xs {
        font-size: 1rem;
        color: var(--primary-text-color);
      }
    }
}

.link-download {
  text-decoration: none;
  font-size: 0.75rem;
  position: relative;
  border: none;

  color: var(--primary-text-color);
  @include desktop {
    font-size: 1rem;
  }
  
  &:hover
  {
    color: var(--primary-text-color);
  }
}