.ribbon {
    width: 200px;
    height: 200px;
    overflow: hidden;
    position: absolute;
    top: 0;
    right: 0;

    &::before,
    &::after {
        position: absolute;
        z-index: 2;
        content: '';
        display: block;
      }

      &__completed {
        &::before,
        &::after{
            border: 15px solid rgb(5, 85, 204);
        }
    }
    &__standby {
        &::before,
        &::after{
            border: 15px solid rgb(194, 194, 97);
        }
    }
    &__inprogress {
        &::before,
        &::after{
            border: 15px solid green;
        }
    }
}

.ribbon-span,
.ribbon-span-completed,
.ribbon-span-standby,
.ribbon-span-inprogress {
  position: absolute;
  display: block;
  z-index: 24;
  width: 350px;
  padding: 15px 0;
  text-transform: uppercase;
  background-color: red;
  box-shadow: 15px 5px 10px rgba(0,0,0,.1);
  color: var(--secondary-highlight-color);
  font-family: var(--bold-font-family);
  text-shadow: 0 1px 1px rgba(0,0,0,.2);
  text-align: center;

}

.ribbon-span-completed {
     background-color: rgb(46, 111, 207);
  }

.ribbon-span-standby {
    background-color: rgb(235, 235, 26);
 }

 .ribbon-span-inprogress {
    background-color: rgb(32, 212, 32);
 }

.ribbon-top-right {
  top: -7px;
  right: -7px;

  &::before {
    border-top-color: transparent;
    border-right-color: transparent;
    top: -20px;
    left: 56px;
  }
  &::after {
    border-top-color: transparent;
    border-right-color: transparent;

    bottom: 56px;
    right: -20px;
    }
}
.ribbon-top-right span {
  left: -25px;
  top: 30px;
  transform: rotate(45deg);
}
