.btn-primary {
  background-color: var(--primary-text-color)!important;
  color: var(--primary-highlight-color)!important;
  border: solid!important;
  }

  .btn-secondary {
    background-color: var(--primary-highlight-color)!important;
    color: var(--primary-highlight-color)!important;
    border: solid!important;
    font-size: 0.75rem!important;
      }