.card-container {
    width: auto;
    margin: 2rem!important;
    position: relative;
    box-shadow: 0rem 0rem 1rem 0.5rem var(--primary-highlight-color);
    border-radius: 1rem;
    border-radius: 1rem;
}

.card-img {  
    background-color: var(--primary-theme-color);
    border: solid;
    border-color: var(--primary-highlight-color);
    
    height: 18rem;
    width: 100%;
    object-fit: contain;
    @include tablet {
        height: 22rem;
    }
    @include desktop {
        height: 34rem;
    }
  }


.card-body{
    border-bottom: solid;
    border-right: solid;
    border-left: solid;
    border-top: solid;
    border-color: var(--primary-highlight-color);
    padding: var(--section-padding)!important;
    height: 18rem;
    @include tablet {
        height: 22rem;
    }
    @include desktop {
        height: 34rem;
    }
}

.card-tech-footer{
    border-bottom: solid;
    border-left: solid;
    border-right: solid;
    color: var(--primary-highlight-color)!important;
    border-color: var(--primary-highlight-color);
    padding: var(--container-padding)!important;
    text-align: left;
    background-color: var(--primary-theme-color)!important;
    height: 4rem !important;
}

.card-footer{
    border-bottom: solid;
    border-left: solid;
    border-right: solid;
    color: var(--primary-highlight-color)!important;
    border-color: var(--primary-highlight-color);
    padding: var(--container-padding)!important;
    text-align: left;
    background-color: var(--primary-shadow-color)!important;
    height: 4rem !important;
    border-bottom-left-radius: 1rem!important;
    border-bottom-right-radius: 1rem!important;
}

.card-header{
    border-left: solid;
    border-right: solid;
    border-top: solid;
    border-color: var(--primary-highlight-color)!important;
    background-color: var(--primary-shadow-color)!important;
    height: 6rem;
    border-top-left-radius: 1rem!important;
    border-top-right-radius: 1rem!important;
    
}