.card-container {
    width: 23rem;
}

.card-img {  
    background-color: var(--primary-theme-color);
    border: solid;
    // object-fit: cover;
    // width: 20rem;
    // height: 24rem;
    border-color: var(--primary-highlight-color);

    height: 23rem;
    width: 100%;
    object-fit: contain;
  }
  
  .card-img-container {  
    // background-size: cover;
    // background-position: center;
    // width: 100%;
    // height: 100%;
    // width: 150px;
//   height: 24rem;
//   background-size: cover;
//   background-repeat: no-repeat;
//   background-position: 50% 50%;
  }

.card-body{
    border-bottom: solid;
    border-left: solid;
    border-right: solid;
    border-color: var(--primary-highlight-color);
    padding: var(--container-padding)!important;
    height: 23rem;
}

.card-footer{
    border-bottom: solid;
    border-left: solid;
    border-right: solid;
    color: var(--primary-highlight-color)!important;
    border-color: var(--primary-highlight-color);
    padding: var(--container-padding)!important;
    text-align: left;
    background-color: var(--primary-text-color)!important;
    height: 4rem !important;
}

.card-header{
    border-bottom: solid!important;   
    border-left: solid;
    border-right: solid;
    border-color: var(--primary-highlight-color)!important;
    background-color: var(--primary-text-color)!important;
    height: 6rem;
}