.footer {
  height: auto;
  padding-top: var(--section-padding);
  padding-bottom: 1rem;
  background:var(--primary-theme-color);
  // margin-right: 0px!important;
  // max-width: var(--container-max-width);
  // margin: 0 auto!important;
  //   padding-left: var(--container-padding)!important;
  //   padding-right: var(--container-padding)!important;
    
  &--scroll {
    background-color: var(--primary-theme-color);
    border-top: solid;
    border-color: var(--primary-highlight-color);
  }

  &--copyright-scroll {
    
    background-color: var(--primary-theme-color);
    border-top: solid;
    border-color: var(--primary-highlight-color);
  }

  &__logo {
    display: block;
    width: 10rem;
    height: 10rem;
  }
 }
