.footer {
  height: auto;
  padding-top: var(--section-padding);
  padding-bottom: 1rem;
  background:var(--primary-theme-color);
  margin-right: 0px!important;

  border-top: solid;
  border-bottom: solid;
  border-color: var(--primary-highlight-color);

  &__logo {
    display: block;
    width: 10rem;
    height: 10rem;
  }
 }
