.header {
    font-family: var(--primary-font-family);
    --translate-header: 0;
    position: fixed;
    z-index: 25;
    top: 0;
    left: 0;
    width: 100%;
    transition: left 0.25s, background-color 0.25s, box-shadow 0.25s;
    left: var(--translate-header);

    &--move-left {
        --translate-header: -50%;
    }

    &--move-right {
        --translate-header: 50%;
    }

    &--scroll {
        background-color: var(--primary-theme-color);
        box-shadow: 0 0 0.0625rem 0.0625rem var(--primary-highlight-color);
      }
}
