.icon {
    display: flex !important;
    background-color: transparent;
    border: 0;
    color: var(--primary-highlight-color);
    font-size: 2rem;
    padding: 0;
    filter: brightness(0.75);
    cursor: pointer;
    transition: filter 0.25s, color 0.25s;
    height: 2rem;
    
    @include desktop {
      font-size: 2rem;
    }

    &:focus, &:active {
        outline: none
      }

    &:hover {
        filter: brightness(1);
      }

      &--secondary{
        color: var(--primary-text-color);
        font-size: 1.5rem;
        margin-left: 0.5rem;
        margin-right: 0.5rem;
      }

      &--xl{
        font-size: 2rem;
        margin-right: 0.5rem; 
        margin-left: 0.5rem;
      }
      
    &--close {
      position: absolute;
      top: var(--padding-nav);
      right: var(--container-padding);
      transition: filter 0.25s, color 0.25s, top 0.25s;
    }
    
    &--display{
      display:block;
    }

    &--hide{
      visibility: hidden!important;
    }

    &--menu,
    &--close {
      @include desktop {
        display: none!important;
      }
    }

    &--social-media{
      @include desktop {
        font-size: 2rem;
      }
      font-size: 1.3rem;
      color: var(--secondary-highlight-color);

      &:hover {
        filter: brightness(1);
        color: var(--primary-highlight-color);;
      }
    }
  }
