.icon {
    display: flex;
    background-color: transparent;
    border: 0;
    color: var(--primary-text-color);
    font-size: 2rem;
    padding: 0;
    filter: brightness(0.75);
    cursor: pointer;
    transition: filter 0.25s, color 0.25s;
  
    &:focus, &:active {
        outline: none
      }
      

    &:hover {
        filter: brightness(1);
      }
      
    &--close {
      position: absolute;
      top: var(--padding-nav);
      right: var(--container-padding);
      transition: filter 0.25s, color 0.25s, top 0.25s;
    }
    
    &--close,
    &--menu {
      @include desktop {
        display: none;
      }
    }
  }