.banner-img {
    width:512px;

    @include tablet {
        width:640px;
      }

    @include desktop {
        width:auto;
      }
}

.rotate-img{
  width: 256px;
  border-radius: 50%;

  @include desktop {
    width: 352px;  }
}

.studies-img {
  border-radius: 4%;
  width: 176px;
}

.tech-img {
  width: 64px;
  
}