.d-flex {

    display: flex;

    &--center {
      align-items: center;
      align-content: center;
      justify-items: center;
      justify-content: center;
    }  

    &--direction {
        flex-direction: column;
        @include desktop {
          flex-direction: row;
        }
    }

    &--space-between {
        align-items: center;
        justify-content: space-between;
      }

    // &--header {
    //     align-items: center;
    //     justify-content: space-between;
    // }
}

.container {
    max-width: var(--container-max-width);
    margin: 0 auto;
    padding-left: var(--container-padding);
    padding-right: var(--container-padding);
  
    &--sm {
      padding-left: calc(var(--container-padding) * 0.75);
      padding-right: calc(var(--container-padding) * 0.75);
      max-width: none;
    }
  }