.d-flex {

    display: flex;

    &--center {
      align-items: center;
      align-content: center;
      justify-items: center;
      justify-content: center;
      text-align: center;
    }  

    &--direction-responsive {
        flex-direction: column;
        @include desktop {
          flex-direction: row;
        }
    }

    &--direction-row {
      flex-direction: row;
    }

    &--direction-column {
      flex-direction: column;
    }

    &--space-between {
        align-items: center;
        justify-content: space-between;
      }
}

//Replacing container class of booststrap.
.container {
    max-width: var(--container-max-width)!important;
    margin: 0 auto!important;
    padding-left: var(--container-padding)!important;
    padding-right: var(--container-padding)!important;
  
    &--sm {
      padding-left: calc(var(--container-padding) * 0.75)!important;
      padding-right: calc(var(--container-padding) * 0.75)!important;
      max-width: none!important;
    }
  }

.row {
  margin-right: 0px!important;
  margin-left: 0px!important;
  width: 100%;
}