.d-flex {

    display: flex;

    &--center {
      align-items: center;
      align-content: center;
      justify-items: center;
      justify-content: center;
    }  

    &--direction {
        flex-direction: column;
        @include desktop {
          flex-direction: row;
        }
    }

    &--space-between {
        align-items: center;
        justify-content: space-between;
      }

    // &--header {
    //     align-items: center;
    //     justify-content: space-between;
    // }
}