.select {
    background-color: var(--secondary-theme-color);
    filter: brightness(0.75);

    &--theme {
      appearance: none;
      text-align: center;
      border-radius: 0.25rem;
      border-color: var(--primary-highlight-color);
      border-width: 2px;
      width: 2.5rem;
      height: 1.5rem;
    }

    &:hover {
      filter: brightness(1);
      cursor: pointer;
    }

    &:focus {
      outline: none;
      border-color: var(--primary-highlight-color);
    }
  }