.label-highlight-text {
    font-size: 1rem;
    font-family: var(--primary-font-family);
    color: var(--primary-highlight-color);
}

.regular-highlight-text {
    font-size: 1.5rem;
    font-family: var(--primary-font-family);
    color: var(--primary-highlight-color);
}

.paragraph-highlight-text {
    font-size: 1rem;
    font-family: var(--primary-font-family);
    color: var(--primary-highlight-color);
    margin: auto;
    @include desktop {
        font-size: 1rem;
      }
}

.subtitle-highlight-text {
    font-size: 1rem;
    font-family: var(--italic-font-family);
    color: var(--primary-highlight-color);
    margin: auto;
    @include desktop {
        font-size: 1.5rem;
      }
}

.title-highlight-text {
    font-size: 2rem;
    font-family: var(--italic-font-family);
    color: var(--primary-highlight-color);
}

.font-size-xs{
    font-size: 0.75rem;
}

.font-size-md{
    font-size: 1rem;
}

.paragraph-text {
    font-size: 0.75rem;
    font-family: var(--primary-font-family);
    color: var(--primary-text-color);
    margin: auto;
    &--xs {
        font-size: 0.5rem;
        color: var(--primary-text-color);
        margin: auto;
        font-family: var(--primary-font-family);
      }
  
    @include desktop {
        font-size: 1rem;
        &--xs {
            font-size: 1rem;
            color: var(--primary-text-color);
            margin: auto;
            font-family: var(--primary-font-family);
          }
      }
}

.subtitle-text {
    font-size: 1.5rem;
    font-family: var(--primary-font-family);
    color: var(--primary-text-color);
}

.title-text {
    font-size: 2rem;
    font-family: var(--primary-font-family);
    color: var(--primary-text-color);
}

.highlight-title-xl{
    font-size: 6rem;
    font-family: var(--primary-font-family);
    color: var(--primary-highlight-color);
}

.format-text {
    text-align: justify;
}