h5 {
    font-family: var(--bold-font-family);
    color: var(--primary-highlight-color);
    font-size: 1.2rem;
}

h4 {
    font-family: var(--primary-font-family);
}

h3 {
    font-family: var(--primary-font-family);
}

h2 {
    font-family: var(--primary-font-family);
}

h1 {
    font-family: var(--primary-font-family);
}

p {
    font-family: var(--primary-font-family);
}