@font-face {
  font-family: "Cartograph CF";
  src: url("../../src/assets/fonts/CartographCF-Regular.otf");
}

@font-face {
  font-family: "Cartograph CF Italic";
  src: url("../../src/assets/fonts/CartographCF-RegularItalic.otf");
}

@font-face {
  font-family: "Cartograph CF Bold";
  src: url("../../src/assets/fonts/CartographCF-ExtraBold.otf");
}
