#root {
  --primary-font-family: "Cartograph CF";
  font-family: var(--primary-font-family);

  --section-padding: 1.5rem;
  --container-padding: 1rem;

  --primary-text-color: #fff;
  --dark-primary-text-color: #fff;

  --light-primary-shadow-color: #00000080;
  --light-secondary-shadow-color: #00000040;

  --container-max-width: 512px;
  --container-padding: 1rem;
}

@font-face {
  font-family: "Cartograph CF";
  src: url("../../src/assets/fonts/CartographCF-Regular.otf");
}
